/* ::ng-deep .ngx-material-timepicker {
  z-index: 1500 !important;
}

::ng-deep .ngx-material-timepicker-overlay {
  z-index: 1501 !important;
}

::ng-deep .cdk-overlay-container {
  z-index: 10000 !important;
} */

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10050;
}

.animated-dots .dots::after {
  content: "";
  display: inline-block;
  animation: dotsAnim 1.5s infinite;
}

@keyframes dotsAnim {
  0% {
    content: ".";
  }
  25% {
    content: "..";
  }
  50% {
    content: "...";
  }
  75% {
    content: "..";
  }
  100% {
    content: ".";
  }
}